<footer>
    <div id="footer" class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>{{ site.data.footer.el_artista[page.language] }}</h2>
                <img src="{{ "/img/footer/me.png" | prepend: site.baseurl }}" align="left" class="img-responsive img-circle" alt="Jose Angulo">
                <p>
                    {% for item in site.data.footer.el_artista_texto[page.language] %}
                        {{ item }}<br>
                    {% endfor %}
                </p>
            </div>
            <div class="col-md-4">
                <h2>Angulo Ceramic Art</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3203.204147070628!2d-4.63713999999998!3d36.597392000000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72e221d91f1599%3A0x6980239d3ad72dc2!2sAngulo+Ceramic+Art!5e0!3m2!1sen!2suk!4v1411909204787" width="300" height="300" frameborder="0" style="border:0"></iframe>
                <div class="row">
                    <div class="col-md-4">
                        <h4>{{ site.data.footer.direccion[page.language] }}</h4>
                    </div>
                    <div class="col-md-8">
                        <p>{{ site.data.footer.direccion_texto[page.language] | newline_to_br }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4>{{ site.data.footer.correo[page.language] }}</h4>
                    </div>
                    <div class="col-md-8">
                        <p><a href="mailto:{{ site.data.footer.correo_texto[page.language] }}">{{ site.data.footer.correo_texto[page.language] }}</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <h4>{{ site.data.footer.telefono[page.language] }}</h4>
                    </div>
                    <div class="col-md-8">
                        <p>{{ site.data.footer.telefonos[page.language] | newline_to_br }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>{{ site.data.footer.redes_sociales[page.language] }}</h2>
                <ul class="social">
                    <li><a class="fa fa-facebook solo" href="https://www.facebook.com/anguloceramicarttiles"><span>Facebook</span></a></li>
                    <!--<li><a class="fa fa-twitter solo" href="http://twitter.com/anguloceramicart"><span>Twitter</span></a></li>-->
                    <li><a class="fa fa-linkedin solo" href="http://linkedin.com/in/anguloceramicart"><span>LinkedIn</span></a></li>
                    <li><a class="fa fa-google-plus solo" href="https://plus.google.com/+AnguloCeramicArtMijas"><span>Google+</span></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="row copyright">
                    <div class="col-md-4 text-left">
                        &copy; Angulo Ceramic Art
                    </div>
                    <div class="col-md-4 text-center">
                        {{ site.data.footer.diseno[page.language] }}
                        <a href="https://www.facebook.com/rodrigoangulomartin">Rodrigo Angulo Martin</a>
                    </div>
                    <div class="col-md-4 text-right">
                        London 2014
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Generated on: {{ site.time }} -->
